$primary-color: #572EE5;
$secondary-color: #5ED7C6;
$green-color: #50E3C2;
$color-grey: #6B7989;
$color-light-grey:#9CAFC3;
$color-black: #000000;
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$bg-blanco: #FFFFFF;
$bg-blanco-translucido: rgba(255, 255, 255, 0.9);
$color-negro: #000000;
$bg-night-mode: #37383C;
$bg-night-mode-secondary: #222326;
$primary-bg: #F3F5F8;
$bg-menu-burger: rgba(87, 46, 229,0.9);
$bg-hover-gifo: rgba(87, 46, 229,0.6);
$montserrat-bold: 'Montserrat', sans-serif;