* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.hidden {
  display: none;
}

main {
  margin-top: 95px;
}

.crear-gifo {
  margin-left: 10.8%;
  margin-top: 4px;
  margin-right: 26.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifo .camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 118.6px;
}

.crear-gifo .camera .camera-img {
  width: 123px;
  height: 192px;
}

.crear-gifo .camera .luz-camara-img {
  width: 91px;
  height: 141px;
}

.crear-gifo .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.crear-gifo .conteiner .cuadrado {
  width: 100%;
  height: 390px;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifo .conteiner .cuadrado .title {
  margin-top: 134px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}

.crear-gifo .conteiner .cuadrado .title span {
  color: #50E3C2;
}

.crear-gifo .conteiner .cuadrado p {
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.crear-gifo .conteiner .cuadrado .divCamara {
  margin: auto;
  background-color: blue;
  width: 488px;
  height: 310px;
}

.crear-gifo .conteiner .operadores-crear-gifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 6.9px #572EE5;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos .paso {
  width: 32px;
  height: 32px;
  border: solid 1px #572EE5;
  border-radius: 50%;
  margin-bottom: 19px;
  cursor: pointer;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos .paso .h5 {
  color: #572EE5;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos .paso:hover {
  background-color: #572EE5;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos .paso:hover .h5 {
  color: #FFFFFF;
}

.crear-gifo .conteiner .operadores-crear-gifo .pasos .paso:nth-child(2) {
  margin-left: 26px;
  margin-right: 26px;
}

.crear-gifo .conteiner .paso_active {
  width: 32px;
  height: 32px;
  border: solid 1px #572EE5;
  border-radius: 50%;
  margin-bottom: 19px;
  background-color: #572EE5;
  cursor: pointer;
}

.crear-gifo .conteiner .paso_active .h5_active {
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

.crear-gifo .conteiner .paso_active:nth-child(2) {
  margin-left: 26px;
  margin-right: 26px;
}

.crear-gifo .conteiner .btn-comenzar {
  border: 1px solid #572EE5;
  border-radius: 25px;
  background: none;
  width: 127px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
}

.crear-gifo .conteiner .btn-comenzar:hover {
  background-color: #572EE5;
  color: #FFFFFF;
}

.crear-gifo .operador-img {
  background-image: url(../images/pelicula.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 152px;
  height: 88px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  margin-left: 67px;
}
/*# sourceMappingURL=crea-gifo.css.map */