* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style: none;
}

.hidden {
  display: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search img {
  width: 72.8%;
  margin: auto;
}

.search .buscador {
  padding-left: 21px;
  border: solid 1px #572EE5;
  border-radius: 30em;
  width: 89%;
  height: 50px;
  margin: auto;
}

.search .buscador .cont-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search .buscador .cont-search input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  border: none;
  border-radius: 30em;
  padding-top: 15px;
  padding-bottom: 13px;
}

.search .buscador .cont-search input:focus-visible {
  outline: none;
  background: none;
}

.search .buscador .cont-search .magnifier {
  width: 25px;
  height: 20px;
  border: none;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-right: 20px;
}

.search .buscador .cont-search .close {
  display: none;
}

.search .buscador .line {
  display: none;
}

.search .buscador .sugerencias {
  display: none;
}

.search .buscador-con-sugerencias {
  padding-left: 21px;
  border: solid 1px #572EE5;
  border-radius: 30em;
  width: 89%;
  height: 50px;
  margin: auto;
  padding-right: 23px;
}

.search .buscador-con-sugerencias .cont-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.search .buscador-con-sugerencias .cont-search .magnifier {
  display: none;
}

.search .buscador-con-sugerencias .cont-search input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
  border: none;
  border-radius: 30em;
  padding-top: 15px;
  padding-bottom: 13px;
}

.search .buscador-con-sugerencias .cont-search input:focus-visible {
  outline: none;
  background: none;
}

.search .buscador-con-sugerencias .cont-search .close {
  width: 25px;
  height: 20px;
  border: none;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  margin-top: 15px;
}

.search .buscador-con-sugerencias .line {
  display: none;
}

.search .buscador-con-sugerencias .sugerencias {
  display: none;
}

.trending {
  margin-top: 31px;
  margin-bottom: 45px;
}

.trending h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.trending p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  font-weight: medium;
  width: 60%;
  margin: auto;
}

@media screen and (min-width: 780px) {
  .search img {
    width: 27.7%;
  }
  .search .buscador {
    width: 38.3%;
  }
  .search .buscador .cont-search input {
    color: #9CAFC3;
    padding-left: 54px;
  }
  .search .buscador-con-sugerencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 38.3%;
    height: 200px;
    border-radius: 27px;
    padding-right: 23px;
  }
  .search .buscador-con-sugerencias .cont-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search .buscador-con-sugerencias .cont-search .magnifier {
    display: block;
    width: 25px;
    height: 20px;
    border: none;
    background-image: url(../images/icon-search-grey.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px;
  }
  .search .buscador-con-sugerencias .cont-search .hidden {
    display: none;
  }
  .search .buscador-con-sugerencias .cont-search input {
    margin-left: 11px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: left;
    color: #000000;
    border: none;
    border-radius: 30em;
    padding-top: 15px;
    background: none;
    padding-bottom: 13px;
  }
  .search .buscador-con-sugerencias .cont-search input:focus-visible {
    outline: none;
    background: none;
  }
  .search .buscador-con-sugerencias .cont-search .close {
    display: block;
    width: 25px;
    height: 20px;
    border: none;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    margin-top: 15px;
  }
  .search .buscador-con-sugerencias .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #9CAFC3;
  }
  .search .buscador-con-sugerencias .sugerencias {
    display: block;
    margin-top: 16px;
  }
  .search .buscador-con-sugerencias .sugerencias li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .search .buscador-con-sugerencias .sugerencias li .magnifier {
    width: 19px;
    height: 19px;
    border: none;
    background-image: url(../images/icon-search-grey.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 13px;
  }
  .search .buscador-con-sugerencias .sugerencias li h6 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9CAFC3;
    text-align: left;
  }
  .trending h2 {
    font-size: 18px;
  }
  .trending p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=search.css.map */