@import "_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}
.trending-gifos {
  background-color: $primary-bg;
  width: 100%;
  //height: 25%;
  div {
    
    padding-top: 46px;
    padding-bottom: 37px;
    h2 {
      font-family: $primary-font-family;
      font-size: 20px;
      color: $primary-color;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
    }
    p {
      margin-top: 7px;
      width: 88.8%;
      margin: auto;
      font-family: $secondary-font-family;
      font-size: 16px;
      color: $color-black;
      text-align: center;
      line-height: 23px;
    }
  }
  .carroussel{
    display: flex;
    .left-arrow{
      display: none;
    }
    .img-carroussel{
      width: 243px;
      height: 187px;
      background-color: blueviolet;
      //background-image: url(../images/);
    }
    .right-arrow{
      display: none;
    }
  }
}
@media screen and (min-width: 780px) {
  .trending-gifos {
    div {
      max-height: 183px;
      padding-top: 67px;
      padding-bottom: 53px;
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 18px;
      }
    }
    .carroussel{
      display: grid;
      grid-template-columns: 0.5fr repeat(3,1fr) 0.5fr;
      margin-left: 6.4%;
      margin-right: 6.4%;
      padding: 0;
      height: 257px;
      .left-arrow{
        padding: 0;
        align-self: center;
        width: 40px;
        height: 40px;
        background-image: url(../images/button-slider-left.svg);
        background-repeat: no-repeat;
        &:hover{
          background-image: url(../images/button-slider-left-hover.svg);
        }
      }
  
      .right-arrow{
        width: 40px;
        height: 40px;
        background-image: url(../images/Button-Slider-right.svg);
        background-repeat: no-repeat;
        &:hover{
          background-image: url(../images/Button-Slider-right-hover.svg);
        }
      }
    }
  }
}
