@import "../style/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}
footer {
  
  border-bottom: $color-negro solid 5px;
  h4 {
    margin-top: 47px;
    font-family: $secondary-font-family;
    font-size: 15px;
    color: $bg-blanco;
    letter-spacing: 0;
    text-align: center;
    &:last-child {
      margin-bottom: 28px;
    }
  }
  .redes-sociales {
    margin-top: 24px;
    margin-bottom: 47.8px;
    display: flex;
    justify-content: center;
    .facebook{
      margin: 0 9px;
      width: 20px;
      height: 20.2px;
      background-image: url(../images/icon_facebook.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      &:hover{
        background-image: url(../images/icon_facebook_noc.svg);
      }
    }
    .twitter{
      margin: 0 9px;
      width: 18px;
      height: 16.3px;
      background-image: url(../images/icon-twitter.svg);
      background-repeat: no-repeat;
      &:hover{
        background-image: url(../images/icon_twitter_noc.svg);
      }
    }
    .instagram{
      margin: 0 9px;
      width: 18px;
      height: 18.1px;
      background-image: url(../images/icon_instagram.svg);
      background-repeat: no-repeat;
      &:hover{
        background-image: url(../images/icon_instagram_noc.svg);
      }
    }
  }
}
@media screen and (min-width: 780px) {
  footer {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 158px;
    padding-left: 156px;
    .footer-redes-sociales {
      margin-top: 49.5px;
      display: flex;
      justify-content: center;
      h4 {
        margin: 0;
        font-size: 13px;
        text-align: left;
      }
      .redes-sociales {
        margin-top: auto;
        a {
          width: 20px;
          &:first-of-type {
            margin-left: 17px;
          }
          
        }
      }
    }
  }
}
