@import "../style/_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 72.8%;
    margin: auto;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: solid 1px $bg-blanco;
    border-radius: 30em;
    width: 89%;
    height: 50px;
    margin: auto;
    input {
      width: 100%;
      font-family: $secondary-font-family;
      font-size: 16px;
      text-align: left;
      color: $color-grey;
      border: none;
      border-radius: 30em;
      padding-left: 14.7%;
      padding-top: 15px;
      padding-bottom: 13px;
      background: none;
    }
    .magnifier {
      width: 25px;
      height: 20px;
      border: none;
      background-image: url(../images/icon-search-modo-noct.svg);
      background-repeat: no-repeat;
      margin-top: 15px;
      margin-right: 20px;
    }
  }
}
.trending {
  margin-top: 31px;
  margin-bottom: 45px;
  h2 {
    font-family: $secondary-font-family;
    font-size: 16px;
    color: $bg-blanco;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
  }
  p {
    font-family: $secondary-font-family;
    font-size: 14px;
    color: $bg-blanco;
    text-align: center;
    line-height: 25px;
    font-weight: medium;
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 780px) {
  .search {
    img {
      width: 27.7%;
    }
    div {
      width: 38.3%;
      input {
        color: $color-light-grey;
        padding-left: 54px;
      }
    }
  }
  .trending {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}
