* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style: none;
}

body {
  background-color: #37383C;
  padding-top: 95px;
}

.header {
  border-top: #000000 solid 5px;
  background-color: #37383C;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.header .menu {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10.8%;
  padding-right: 10.8%;
}

.header .menu .logo {
  background-image: url(../images/Logo-modo-noc.svg);
  background-repeat: no-repeat;
  width: 68px;
  height: 60px;
  cursor: pointer;
}

.header .menu .burger {
  display: none;
  border: none;
  background-color: #37383C;
}

.header .menu .burger div {
  width: 14px;
  height: 14px;
  background-image: url(../images/burger-modo-noct.svg);
}

.header .menu .burger div:active {
  background-image: url(../images/close-modo-noct.svg);
}

.header .menu .menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu .menu-ul li {
  margin: 0px 20px;
  cursor: pointer;
}

.header .menu .menu-ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  display: block;
  text-transform: uppercase;
}

.header .menu .menu-ul li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .menu .menu-ul li a:active {
  color: #9CAFC3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .menu .menu-ul li .crear-gifo {
  width: 54px;
  height: 54px;
  background-image: url(../images/CTA-crear-gifo-modo-noc.svg);
}

.header .menu .menu-ul li .crear-gifo:hover {
  background-image: url(../images/CTA-crear-gifo-hover-modo-noc.svg);
}

.header .menu .menu-ul li .crear-gifo:active {
  background-image: url(../images/CTA-crear-gifo-active-modo-noc.svg);
}

@media screen and (max-width: 768px) {
  .header .menu {
    padding-left: 22px;
    padding-right: 26px;
    /* .burger_active {
        border: none;
        width: 14px;
        height: 14px;
        background-image: url(./assets/images/close.svg); 
      }*/
  }
  .header .menu .logo {
    background-image: url(../images/logo-mobile-modo-noct.svg);
    width: 48.8px;
    height: 48.8px;
  }
  .header .menu .burger {
    display: block;
  }
  .header .menu .menu-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #000000;
    height: calc(100% - 95px);
    width: 100%;
    position: fixed;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    top: 95px;
    overflow-y: auto;
    padding-top: 32px;
  }
  .header .menu .menu-ul li {
    line-height: 30px;
  }
  .header .menu .menu-ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 60px;
    text-transform: none;
  }
  .header .menu .menu-ul li a:hover {
    color: #5ED7C6;
  }
  .header .menu .menu-ul li .crear-gifo {
    display: none;
  }
  .header .menu .menu-ul div {
    width: 41px;
    height: 1px;
    background-color: #FFFFFF;
  }
  .header .menu .menu-ul div:last-child {
    display: none;
  }
  .header .menu .menu-ul_visible {
    left: 0;
  }
}
/*# sourceMappingURL=night-header.css.map */